@model EntityField
@using NewLife;
@using NewLife.Cube.ViewModels
@using XCode;
@using XCode.Configuration;
@{
    var entity = Model.Entity;
    var field = Model.Field;

    var set = NewLife.Cube.CubeSetting.Current;
    var cls = set.FormGroupClass;
    if (cls.IsNullOrEmpty()) { cls = "layui-form-item"; }

    var isHide = "";
    if (field.Name.EqualIgnoreCase("CreateUserID", "CreateUser", "CreateTime", "CreateIP",
                "UpdateUserID", "UpdateUser", "UpdateTime", "UpdateIP", "StateCode", "StatusCode", "Auditor", "AuditTime", "EffectiveTime", "DeactivateTime", "BomDetailedIDs"))
    {
        isHide = "layui-hide";
    }
}
@if (field.IsBigText())
{
    var isRow = cls.Contains("row") ? "row" : "";
    <div class="layui-form-item @(isRow) @isHide">
        @await Html.PartialAsync("_Form_Type_BigText", Model)
    </div>
}
else
{
    <div class="layui-form-item @isHide">
        @await Html.PartialAsync("_Form_Type_Item", Model)
    </div>
}