/** 最外层容器 */
.ew-tree-table {
    margin: 10px 0;
    position: relative;
    border: 1px solid #e6e6e6;
    border-bottom: none;
    border-right: none;
}

.ew-tree-table:before, .ew-tree-table:after, .ew-tree-table .ew-tree-table-head:after {
    content: "";
    background-color: #e6e6e6;
    position: absolute;
    right: 0;
    bottom: 0;
}

.ew-tree-table:before {
    width: 1px;
    top: 0;
    z-index: 1;
}

.ew-tree-table:after, .ew-tree-table .ew-tree-table-head:after {
    height: 1px;
    left: 0;
}

.ew-tree-table .layui-table {
    margin: 0;
    position: relative;
    table-layout: fixed;
}

/** 表格 */
.ew-tree-table .layui-table td, .ew-tree-table .layui-table th {
    border-top: none;
    border-left: none;
    padding: 0 !important;
}

.ew-tree-table .ew-tree-table-box {
    overflow: auto;
    position: relative;
}

.ew-tree-table .ew-tree-table-head {
    overflow: hidden;
    box-sizing: border-box;
    background-color: #f2f2f2;
    position: relative;
}

/** loading */
.ew-tree-table .ew-tree-table-loading {
    padding: 10px 0;
    text-align: center;
}

.ew-tree-table .ew-tree-table-loading > i {
    color: #999;
    font-size: 30px;
}

.ew-tree-table .ew-tree-table-loading.ew-loading-float {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

/** 空数据 */
.ew-tree-table .ew-tree-table-empty {
    color: #666;
    font-size: 14px;
    padding: 18px 0;
    text-align: center;
    display: none;
}

/** 单元格 */
.ew-tree-table-cell.ew-tree-tips-open {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 19891015;
    background-color: #fff;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, .15);
}

thead .ew-tree-table-cell.ew-tree-tips-open {
    background-color: #f2f2f2;
}

.ew-tree-table-cell.ew-tree-tips-open.ew-show-left {
    right: 0;
    left: auto;
    box-shadow: -3px 3px 8px rgba(0, 0, 0, .15);
}

.ew-tree-table-cell.ew-tree-tips-open.ew-show-bottom {
    bottom: 0;
    top: auto;
    box-shadow: 3px -3px 8px rgba(0, 0, 0, .15);
}

.ew-tree-table-cell.ew-tree-tips-open.ew-show-left.ew-show-bottom {
    box-shadow: -3px -3px 8px rgba(0, 0, 0, .15);
}

.ew-tree-table-cell > .ew-tree-tips-c {
    position: absolute;
    right: -6px;
    top: -3px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    font-size: 13px;
    color: #fff;
    background-color: #666;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    display: none;
}

table tr:first-child .ew-tree-table-cell > .ew-tree-tips-c {
    top: 0;
}

.ew-tree-table-cell.ew-tree-tips-open > .ew-tree-tips-c {
    display: block;
}

.ew-tree-table-cell.ew-tree-tips-open.ew-show-left > .ew-tree-tips-c {
    left: -6px;
    right: auto;
}

.ew-tree-table-cell > .ew-tree-table-cell-content {
    padding: 5px 15px;
    line-height: 28px;
}

[lay-size="lg"] .ew-tree-table-cell > .ew-tree-table-cell-content {
    line-height: 40px;
}

[lay-size="sm"] .ew-tree-table-cell > .ew-tree-table-cell-content {
    padding: 1px 15px;
}

.ew-tree-table-cell.single-line > .ew-tree-table-cell-content {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ew-tree-table-cell.ew-tree-tips-open > .ew-tree-table-cell-content {
    overflow: auto;
    padding: 9px 15px;
    height: auto;
    min-height: 100%;
    max-height: 110px;
    line-height: inherit;
    max-width: 260px;
    width: 200px;
    width: max-content;
    width: -moz-max-content;
    box-sizing: border-box;
    white-space: normal;
}

.ew-tree-table-cell > .layui-table-grid-down {
    box-sizing: border-box;
}

/** 图标列 */
.ew-tree-table .ew-tree-pack {
    cursor: pointer;
    line-height: 16px;
}

.ew-tree-table .ew-tree-pack > .layui-icon, .ew-tree-table .ew-tree-pack > .ew-tree-icon {
    margin-right: 5px;
}

.ew-tree-table .ew-tree-pack > * {
    vertical-align: middle;
}

/* 缩进 */
.ew-tree-table .ew-tree-table-indent {
    margin-right: 5px;
    padding-left: 16px;
}

/* 箭头 */
.ew-tree-table .ew-tree-table-arrow:before {
    content: "\e623";
}

.ew-tree-table .ew-tree-table-open .ew-tree-table-arrow:before {
    content: "\e625";
}

.ew-tree-table .ew-tree-table-arrow.arrow2 {
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    height: 16px;
    width: 16px;
    display: inline-block;
    text-align: center;
    color: #888;
}

.ew-tree-table .ew-tree-table-arrow.arrow2:before {
    content: "\e602";
}

.ew-tree-table .ew-tree-table-open .ew-tree-table-arrow.arrow2:before {
    content: "\e61a";
}

.ew-tree-table-arrow.ew-tree-table-arrow-hide {
    visibility: hidden;
}

/* 箭头变加载中状态 */
.ew-tree-table .ew-tree-table-loading > td .ew-tree-table-arrow:before {
    content: "\e63d" !important;
}

.ew-tree-table .ew-tree-table-loading > td .ew-tree-table-arrow {
    margin-right: 0;
}

.ew-tree-table .ew-tree-table-loading > td .ew-tree-table-arrow + * {
    margin-left: 5px;
}

.ew-tree-table .ew-tree-table-loading * {
    pointer-events: none !important;
}

/** 折叠行 */
.ew-tree-table .ew-tree-tb-hide {
    display: none;
}

/** 特殊列调整 */
.ew-tree-table td[data-type="numbers"] > .ew-tree-table-cell,
.ew-tree-table th[data-type="numbers"] > .ew-tree-table-cell,
.ew-tree-table td[data-type="checkbox"] > .ew-tree-table-cell,
.ew-tree-table th[data-type="checkbox"] > .ew-tree-table-cell,
.ew-tree-table td[data-type="radio"] > .ew-tree-table-cell,
.ew-tree-table th[data-type="radio"] > .ew-tree-table-cell,
.ew-tree-table td[data-type="space"] > .ew-tree-table-cell,
.ew-tree-table th[data-type="space"] > .ew-tree-table-cell {
    padding-left: 0;
    padding-right: 0;
}

/* 单元格内表单元素样式调整 */
.ew-tree-table .layui-form-switch,
.ew-tree-table .layui-form-radio {
    margin: 0;
}

/* checkbox列调整 */
.ew-tree-table-checkbox + .layui-form-checkbox {
    padding: 0;
}

.ew-tree-table-checkbox + .layui-form-checkbox > .layui-icon {
    font-weight: 600;
    color: transparent;
    transition: background-color .1s linear;
    -webkit-transition: background-color .1s linear;
}

.ew-tree-table-checkbox + .layui-form-checkbox.layui-form-checked > .layui-icon {
    color: #fff;
}

/* checkbox半选状态 */
.ew-form-indeterminate + .layui-form-checkbox .layui-icon:before {
    content: "";
    width: 10px;
    height: 2px;
    background-color: #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1px 0 0 -5px;
}

/* radio列调整 */
.ew-tree-table-radio + .layui-form-radio {
    padding: 0;
    height: 20px;
    line-height: 20px;
}

.ew-tree-table-radio + .layui-form-radio > i {
    margin: 0;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
}

/** 单元格编辑 */
.ew-tree-table .layui-table td[data-edit] {
    cursor: text;
}

.ew-tree-table .ew-tree-table-edit {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, .15);
}

.ew-tree-table .ew-tree-table-edit:focus {
    border-color: #5FB878 !important;
}

.ew-tree-table .ew-tree-table-edit.layui-form-danger {
    border-color: #FF5722 !important;
}

/** 搜索数据隐藏行 */
.ew-tree-table tr.ew-tree-table-filter-hide {
    display: none !important;
}

/** 头部工具栏 */
.ew-tree-table .ew-tree-table-tool {
    min-height: 50px;
    line-height: 30px;
    padding: 10px 15px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    border-bottom: 1px solid #e6e6e6;
}

.ew-tree-table .ew-tree-table-tool .ew-tree-table-tool-right {
    float: right;
}

.ew-tree-table .ew-tree-table-tool .ew-tree-table-tool-item {
    position: relative;
    color: #333;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    margin-left: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    vertical-align: middle;
    -webkit-transition: .3s all;
    transition: .3s all;
    cursor: pointer;
}

.ew-tree-table .ew-tree-table-tool .ew-tree-table-tool-item:first-child {
    margin-left: 0;
}

.ew-tree-table .ew-tree-table-tool .ew-tree-table-tool-item:hover {
    border-color: #999;
}

.ew-tree-table .ew-tree-table-tool-right .layui-table-tool-panel {
    left: auto;
    right: -1px;
    z-index: 9999;
}

/* 列宽拖拽调整 */
.ew-tree-table .ew-tb-resize {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 10px;
    cursor: col-resize;
}

.ew-tree-table-resizing {
    cursor: col-resize;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/* 辅助样式 */
.ew-tree-table .layui-form-switch {
    margin: 0;
}

.ew-tree-table .pd-tb-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.ew-tree-table .break-all {
    word-break: break-all !important;
}

/** 扩展图标 */
.ew-tree-table .ew-tree-icon-folder:after, .ew-tree-table .ew-tree-icon-file:after {
    content: "";
    padding: 2px 10px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAAE6UlEQVR4Xu2ZPYhcVRiGny9hC0FsTEBCGkFTWIQE/IlpgmKpWAiLyR0XLbYTxEKxkCAEhRCxEOwsjJnJioKIYClWKgqiskIIaCoLYyASVJT87JGspN37LrOXvec777Tzzrnvz7Nn2dnAr6YbiKbTOzwGoHEIDIABaLyBxuP7BjAAjTfQeHzfAAag8QYaj+8bwAA03kDj8X0DGIDGG2g8/lw3QFlhD9fZN7oOF7gYT3NudL5GaGjTAJQP2c1VXgIOExyGkf4/oXCe4I3oeH+EvY/G0qYAKFOWCV4Hdo8mQb+RL7jBE7HE3/3S9hQyAGXGCeDVSiv6lqscief4t1L/g9mWAChTHiD4ZrTXvVbPu9GxrEnbUWkAzPgeOJCglsXo+ChBji2L0AtAmfEgrP/0Z3hdZoF7Y5HLGcJsRQYFgLeAF7fiYSM540x0LI3Ey7bb6AdgytcEh7bd6VYa2MGhOJrmVpurmX4AZlwCds31lPF9+AI32O8/DYUvccqUKwR3jG/DuR29Gd36F1pNv/pvgKwAFK5RuC+e4eeWCWgXgJurFz6LCY8bgA0aSPwr4P/UhVNc43ir3xK2fQPcAr/wO/AewU/Ar6xRqroVdvAnC6zGIlc369sAbLax8er/ofAJOzkVR9e/uZVeBkCqqTrRyeh4RXFtAJSWatQUno0Jp/usG4C+hup9/yJ72BuPcH2jCAag3oEV50vRccYAKFXl1LwdHS8YgJzj9qcqfBoTnjQA/VVlVXwXHfcbgKzz9uf6IToOGoD+orIqDEDWZcVcBkAsKqvMAGRdVsxlAMSissoMQNZlxVwGQCwqq8wAZF1WzGUAxKKyygxA1mXFXAZALCqrzABkXVbMZQDEorLKDEDWZcVcBkAsKqvMAGRdVsxlAMSissoMQNZlxVwGQCwqq8wAZF1WzGUAxKKyygxA1mXFXAZALCqrzABkXVbMZQDEorLKDEDWZcVcBkAsKqvMAGRdVsxlAMSissoMQNZlxVwGQCwqq8wAZF1WzGUAxKKyygxA1mXFXAZALCqrzABkXVbMZQDEorLKDEDWZcVcBkAsKqvMAGRdVsxlAMSissoMQNZlxVwGQCwqq8wAZF1WzGUAxKKyygxA1mXFXAZALCqrzABkXVbMZQDEorLKDEDWZcVcBkAsKqvMAGRdVsxlAMSissoMQNZlxVwGQCwqq8wAZF1WzGUAxKKyygxA1mXFXAZALCqrzABkXVbMZQDEorLKDEDWZcVcBkAsKqvMAGRdVsxlAMSissoMQNZlxVwGQCwqq8wAZF1WzLUFAMy4BOwSH2jZmBoorMaE/RtZij6/ZcoFgrv7dH5/lA38Eh33zAfAjM+BR0cZz6Y2bqDwY0w4MB8AU04SvOyuq2zg4+h4aj4AzvIwha+qjN+66cLzMeGduQC4+eEy4zywr/U+K8t/hQX2xiJ/zQ/ACgdZ40vgtspKaNducCyOsdJXQO9fAbcOKGc5whofENzVd6jf3/YGTkTHccWFDMD6r4LT3MlOloHHCB4CblceYs3gDfxB4TeCcxReiwmr6hM3BYB6qHX1NGAA6tlqEKcGYJBa6znUANSz1SBODcAgtdZzqAGoZ6tBnBqAQWqt51ADUM9Wgzg1AIPUWs+hBqCerQZxagAGqbWeQw1APVsN4tQADFJrPYcagHq2GsTpf+KxwJB5Cd5mAAAAAElFTkSuQmCC");
}

.ew-tree-table tr.ew-tree-table-open > td .ew-tree-icon-folder:after {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAAKwElEQVR4Xu2df9AVVRnHP899gUxmYKhsCpJREEeMakSoiGGCbIxSizIJ7i5OksZkMIxQjlOQyOCQ5o/8RWmkMdz7wjDC5I+hcFSKxEENh4YsEwPJAbVQ8AeQL733NPcKyn3v7r17d8/uvfvus//ec57n+3yf7z179uw5zwp6ZZoByXT0GjwqgIyLQAWgAsg4AxkPX0cAFUDGGch4+DoCqAAyzkDGw9cRQAWQcQYyHr6OACqA5hkw63kfr3IyOQZTIte8BUs9OnibEi/isEcEY8lqpswEHgHMGgbSxTyEyRjGIC1MfM8UGQ4CfyLHWp7jbllEKVNZjBBsIAGYAi7CrcCgCL6S6voM4IrDtqQcptlPQwGYAksRrkpVkIZD5JgmeR5IFe4WgK0rAFPkamBRC3BFd2k4AkwSl83RjfVeC74CMCuZSI6NqQ7d8G9KDJOLK3MEvTwY8BdAga0Io3sBa0vEYWEviCOWEDwFYDoZh+HxWDwmb/R18gzSx0Rv4r0FUORa4EfJ5yomj8IEyfNYTNZTbdZbAAU2IJyb6siOB2+4Qlx+3mvisRiInwC2I4yy6Ke1pgw/E5crWwuiPb373QL+BZzcnpBDobpLHGaF6tnLO6kAenmCG4WXFQH8WhwubURGFn/PhgAMD4nLl7KY4EYxZ0MAcBhhqOTZ14iQrP2eFQGU8/ogeb6qC0LVEs+SAMqRL+ctLpdZlRdFeoH32UBTpLc9Br6XbMMuhLUIm+jmzbZSQUdlV9M++rBTpnI4CWxZGwGS4NSWj2eBh4CbxGG3LaM97agA4mLWnt23gZ+yg8VxbHVTAdhLVNyWHqabKbb3NqgA4k6bTfuG+3GYYvNJRgVgM0FJ2DL8QFxutOVKBWCLyaTsGN6gH0NlKq/bcKkCsMFi0jYMs8XlDhtuVQA2WEzahuH34vJlG25VADZYTN7GPnE4yYZbFYANFlth4y362VjSVgG0Ink2fAon2Xi7qQKwkYxW2OglAtiP4QlgN8LLreAxtT4HcL1cwKGo+FsxAnQDv6HEbTKDv0QNQPtHYyBpAZSPm7mSp/ymS682YCA5ARiWMYS5Mon/tUHcCuEoA0kJ4AZx+KGy3n4MJCGA9eJwXqPQzSJyjGAMJU5s1FZ/r8NAH7roYIdM5T9BeIpXAIaXOMKZcgkH/MCYIp8GvgN8A/hQENDaJhADrwG/oy9X1BNDvAIQZkqee+okfwGGa9qq4FQgblPVaC85xsp09nqhjlMAO9nBCK9tTGYjfdhLJ3BRqqhMK1jDdoYw2msCHqcAypsZ53txZoqVo9pz08pnKnEbLhKXe3tij1MAk8VhQ0+HZjWj6GZ7KklMM2jD3eJW5lpVV5wC+IA47K8RQJEVwMVp5jKV2H3OR8YjAMPL4vLRmuSvoYMjvAoMTCWJ6Qa9Vhy+mdQIsEEcJtcIYCWjybE13TymFL2wVPK1dZ/iGgE8S7KYTi7F8KuUUphu2AlPAsu1eose9/9lwPfSzWRq0Q8Xh53J3AI6+IRM4681AiiwBeEzqaUwrcANh8Slvxf8OG4BXezg/T0XgCpr/afxX4S+aeUxtbgNfxCXSUkJYJs4nKXP/20ll5vFYV4yAjCsEJdve9z/y8/+5TUAvZJmwDBDXArJCADmicPNHgLQ5d+kE3/Mn+Hj4vK3ZARg+KK4POIxAdyEMKFVHGTWb/m7Cc9zgl9tgTgmgd5LwAUOIrrZI3EhGraIyzg/v7YFsFcchnhMAE+nm38kHrw6BMMycfl+MgLwObRoikwDVmk+WsCAcJnkWZ6MAOA6cWo/MGUKXI/optAWpB9KnC0zeDoZAQh5ydf+002BhxHOaQkBWXZqKHGQE+odIrU7BxBGSZ7yd/uqLlOsbArVV8DJi9FzUe54GDYF4L0EvIpTKLEr+djVIz67gOIRgOFpcTnb499f3u69VtPREgbmiMPt9TzbHAHuEYeZHgtASxB+3JLws+40x3iZXv/rb/YE4PNhJlNgPWKnnk3W89l0/APo3+gIuT0BwBfEqf3SqCnwCsKHmwavHaIy8Kw4jGxkxKYAapaAzSoGU2JPIxD6ewwMGDrFxWlk2Y4ADHvE5WMe9//zEf2Cd6MkxPJ7wIqidgQAnieATYGfIFwTS4BqtD4DwjmS59FGNNkRgM+WY1Pkt8DXGoHQ32NgoItB9U5lH/NoRwAwXRxWe6wB9N4vj8SQM4smXxCHU4PYsyOADs6Uafz9eIdmDQM54l8XIAg4bROagXXicGGQ3jYE4L0EXOBcpPZwaBBQ2iYiA4YF4la+AN/wsiGAP4vDWI8ngKsQljZEoA3iYOA8cVgfxHB0Afi8cDBF1mgBiCApiKGN8BHJ80oQy9EFAHPF4VaPCeDzwPAgILSNRQYML4nL4KAWowtAmCh5/lg1AXyAE3mDg0FBaDurDASqynbMY3QBQO0S8Eomkqt9L2A1TDXmx8AScVgYlJ6oAnhRHIZ6TADnI9wQFIS2s8rAheKwLqjFqAJ4UBwu8BBAESEfFIS2s8hAjlNlOi8EtRhNAIZrxWWBxwSwvCh0RlAQ2s4SA4YD4jKoGWvRBCB8S/KVx713L6MTwGb4t932UXGa230dTQAlzpAZ1Sd+TIHxCI/ZjkztBWKg6aLcUQTgtwQ8B6ldFwgEXxtFY8DnXEY9o+EFYHhK3Eqh56rLFCu1gWvqA0SLTHsHYkAY2ezHOMILAJaLw2UeAih/BuaTgQBrI3sM1KkDFM8IADV7zs2d9KV/pQ5Qzl5kaikQA4bHxWV8oLbHNYoyAnxeHDZVPQEUGIvwZLMgtL0VBm4XhznNWgovAI8956aTWRh+2SwIbW+BgQbfZvDzEFYAu8XhFI/7/53Ady2EoyaaZ+AscdjWbLdwAjDcL27tZk9T5ClgTLMgtH1EBhrUAYpjEljzxkkLQUZMYrTuW8UJ98cLOwLUfH3CrORT5JofgqLFrb2PMuD5SB6EnXACgNPFYUfVE0Anl5TPowdxqm2sM3C5OPwijNXmBeCz4GCK3AbMDgNC+0RkwDBOXLaEseIngOeAEZ4GDU+Iy2drngAKbEb4XBgQ2icCAwHqADU/CSzwJFK71fuoobvEYVbV8P9OJfA3tRBkhESG7/qMOIwK2917BCiwDuHrPiPAbHG5o0oAqxlJt3ct2rDAtF9ABnyKcwfsjd8tYDH4bCwUJki++n2/KVbOoXtWow4KRNuFZsDzXGZQa34jgP+xLq8l4CI3gnc9+qBAtF0IBgwH6MdgmcrhEL0rXbwFUP68WxevIQyoMmzYJS7DPCaAGxEmhgWh/UIyIMyXPDeF7O0vgPIvpsB1CFf2MH6fOEzxEIBWAo+ShXB915PnfBFMuO7v9PIcASoCWMEH6VNZ7Hlvl6lhsbhc3WMCOJxuysfA9EqKAUO5+P7MeiVgg0LxFUBFBEW+AtwH9DlqsObQgSlWvgBetTM4qHNt1zQD+zEs7PkU1rSV4zrUFcDRW0G50NMtwDBKjJAZ1f92U2ApUlshPAoo7fsuA12YCt+bgXvpxyMylW6b/DQUwDFnZiWn4fLPqPccm+DVVnQGAgsguiu10I4MqADaMSsJYlIBJEh2O7pSAbRjVhLEpAJIkOx2dKUCaMesJIhJBZAg2e3oSgXQjllJEJMKIEGy29GVCqAds5IgJhVAgmS3oysVQDtmJUFM/wdaDlOuM5Eu/AAAAABJRU5ErkJggg==")
}

.ew-tree-table .ew-tree-icon-file:after {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAAJNUlEQVR4Xu2dXYxdVRXHf2tghhYaoba1Qk1owIwmfVBaTKRgQqMPlGjig2nDnDsF0whSnwqJ4SNoU2OLUSNPVDSx2t47hEkxaQMBI1hB/EiE6osYqjGUYPGjCihN6Uy525wzt7UdZu7ZZ87a5949Z52XeVl77bX//9/d52vvM4IdtVZAaj16GzwGQM0hMAAMgJorUPPh2wxgANRcgZoP32YAA6DmCtR8+DYDGADVKuB2s4BB1gMbEYZxLEFYDlxQbSU97+0Ejn8hHMPxR4R9LOZxuZGTVVZW2QzgxlnGBNuBUYSLqhxkNH05jgN7GeIrsoF/VlF3cADcQc7nKHfiuM+M97Q0BUH4GpfxbVnHKc9WcwoLCoBrsRjHYwhr51Rd3Rs5foXwaUl4PZQUwQBwLa4AngZWhiq+JnlfBj4pCX8JMd4gALgxluJ4Hrg8RNE1zHkE4WoZ4Zj22NUBcOMsZILnEFZrF1vrfI5DDHGdbOCEpg76ADTZiXCXZpGWq6OAsFNGuEdTD1UA3B7exwDpdLUgt0jHqwjjwH6EF0NMb7k19DAgO03CKtp8pvNM5AO55TjeZoCVMsLfc2M9A3QBaPEQcGtO328hbOYw+2Qbbc8653WY28YAw3yONrsRLswZ7Pck4TYtQdQAcOMMMckbwMIuxaVPua6VhBe0BjCf8rgWa4Bf5jwVPcEgl8gGJjTGrgfAGDfgeCKnqC2SsEuj8Pmaw7W4HXiw6/iE9TLCkxoa6AHQyopOi5/5cLzCCq4M/WRLQ5Re5ug8Of1z11tox3el0UXrAgPQA6DJQYTru/R9ryTsKFBbbUNdK7vS/3qXH9PPpcE6DYH0AGjxEjA8a1Ft1sgohzSKnu853MNcRburVocl4UMaOugB0MxeYMx+BTt14fKmRtHzPYcb5+LOBfVsp9Pj0mCRhg56ALRw3QqSxPYgFDHMVaSnAVDElQpjDYAKxe7HrgyAfnSlwpoMgArF7seuDIB+dKXCmgyACsXux64MgH50pcKaDIAKxe7HrgyAfnSlwpoMgBnEduO8n0m+j+MahCUV+pHf1dQun18zyBdkA3/Lb9A9wgCYpk9nj8EfEC4tK27Q9o7XGOIjZXf2GADTAWjyQ4Sbg5qnl3yvJGwqk84AePcMkO6VSxdSxnAck4RlZQo1AN4NwF+By8qIWmHbo5Kwokx/BkDcp4A9kpQ7XRkA0wGY2nPw+yguAoVVZTd0GgAz3Qbu5VIGsr0H1wLvLTPFBmj772xJd5vbZJTXyuY3AMoqGHl7AyByA8uWbwCUVTDy9gZA5AaWLd8AKKtg5O0NgMgNLFu+AVBWwcjbGwCRG1i2fAOgrIKRtzcAIjewbPkGQFkFI29vAERuYNnyDYCZXgbZmsAzqmjtto5md7CtCTz3F1E/AGxN4DkE1A+AVvb9fFsT2MGgjgDYmsCz5oD6ARDXKcDWBE6/iC9LbOc7xLYmsK6ngHTcztYE1vc2sOyDldja24Og2BxTrtcAUBY0tnQGQGyOKddrACgLGls6AyA2x5TrNQCUBY0tnQEQm2PK9RoAyoLGls4AiM0x5XoNAGVBY0tnAMTmmHK9BsAMgqp+J1D5u37K/mMATFM02JpApe/6GQCB/8eNC7sgpPR3/QyA0ACEXRNY+rt+BkB4AEKuCSz9XT8DIDQAYU8BpdfwGQChAQj1ncD0IlDhu34GQGAAUoGV1wSqftfPAKgAAG2RQ+Rzu1nAIOuBjQjDOJYgLAcu0Oyv7Crr07VEszdQU7wQudw4y5hgOzCKcFGIPs7OaQCEVtgzvzvI+RzlThz3VWF8p6wJSXRmFJsBPI2eKazzdPIxhLUl0syl6RFJWDmXhtPbGABzVNG1uAJ4GnSMKFSG4zfS4JpCbWYJNgDmoKIbYymO54HL59C8fBPHj6TBLeUTgQFQUEU3zkImeA5hdcGmeuHCRhlhXCOhAVBQRddkJ8JdBZtphr/DIEtkA29qJDUACqjY2aF8BGFBbjPHq0j2K92P8KKMcKxbGzfGKhy/ABbn5N4vCZ/N7d8zwADwFCoNc63sv5XcmtPkLYTNHGafbKPtk76A+dDmwzLKSz55fWIMAB+VUvPHGWKSN4CFXZqcTP+djSS84JmWQuY7xqRB4pvbJ84A8FEpBWCMG3A8kRO+RRJ2eaZMZ5SPAj/zmPbTlEd5h6tkE//wze8TZwD4qDQ1/T8I3D5ruOMVVnClrOOUT8rMfMczCO/JjXdM4vi4jHIoN7ZggAHgKZhrchDh+i7h90rCDp90hcwHB9wiCXt8cheNMQA8FXOt7MJreNbwNmt8fqEFzU/t3ywNfuBZZuEwA8BTMtfkOMKFs4YPcknevblr8jHgKa9pf6qjQtcUnkM5J8wA8FSt7Dr9zHzJLvgWeXYZ3Py0DgPA040yABQ237FVGjzgWVqpME0A/tuVbsfF0uA/partYeO5AtDP5uvOAE3+hPDBWT0aYLXcxO966GGprucCQL+brw3AswifmFVlxz3SYGcpF3rYuCgA7mHW0uYn3ud8x93S4P6qh6h3CmiyC+GLXQAo9KCkaiHy+isCQMf8p3IeG/+/yx6ZrzsDtLgReLyrkI4vSSN7ohbd4QvAHMzfLg2+2itB9GaA9GXJBK93vVeGk7RZ6/PApFeCzNavDwCuxaeAAwV++fdLg7t7OVY1ANJBeL8udXyehEdFssecURx5AAB3AN8EzvMakOMBabDVKzZgkC4AYyynzcveCybgEYQDPgsmAmrgldoDAK88WVCfmK96DXB69K7JNxC+7K9GzSL7yPwwAKSLJid5Fri6Ztb6DHeXJGzxCawqRvUUcGYWmFo2/duerJmvSrni/fSd+UFmgDMQTG2c+Clkf+t+fEeS7CKx744gM8BZEKQrXNPbouv6buTVFHQSx83S4JFquiveS1AAsgvehxhkEXdUvHmyuBL6LZ5hgK39/v4jOABnZoN0+/QkO3DcVOEuWn1bu2V0vA38mPP4Vr8bf3oYlQFwFgjpXcJ6HBshe3u4NMQHFII7ny7UlOy/maYbPtI3oY9yigOyiePB+1bsoHIAFGu3VAoKGAAKIsacwgCI2T2F2g0ABRFjTmEAxOyeQu0GgIKIMacwAGJ2T6F2A0BBxJhTGAAxu6dQuwGgIGLMKf4HAR/hrhUhGSQAAAAASUVORK5CYII=")
}
