@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>魔方 - Layui</title>
    <link rel="stylesheet" href="./layui/css/layui.css">
    <link rel="stylesheet" href="./layui/css/layui_cube.css">

</head>
<body>
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo layui-hide-xs layui-bg-black">Cube demo</div>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item layui-hide layui-show-md-inline-block">
                    <a href="javascript:void(0);">
                        <img src="./images/logo/NewLife.png" class="layui-nav-img">
                        tester
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="#">Your Profile</a></dd>
                        <dd><a href="#">Settings</a></dd>
                        <dd><a href="#">Sign out</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
                    <a href="javascript:void(0);">
                        <i class="layui-icon layui-icon-more-vertical"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:void(0);">menu group 1</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:void(0);" data-url='https://www.baidu.com' cube-leftmenu='openmenu' data-title="hello">hello</a></dd>
                            <dd><a href="javascript:void(0);" data-url='https://www.163.com' cube-leftmenu='openmenu' data-title="word">word</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>

        <!-- 主内容区 -->
        <div class="cube-tab" lay-allowClose="true" lay-filter="cube-layout-tabs">
            <div class="cube-tab-title">
                <ul class='layui-tab-title'>
                    <li class="layui-this cube-homeHeader" lay-id="homeHeader">
                        <i class="layui-icon layui-icon-home"></i>
                    </li>
                </ul>
            </div>

            <div class="layui-body cube-body cube-tab-content">
                <div class="layui-tab-item layui-show">
                    <iframe src="https://www.newlifex.com/" frameborder="0" class="cube-iframe"></iframe>
                </div>
            </div>
        </div>

        <!-- 移动端遮罩层 -->
        <div class="layui-index-shade" layui-layer-shade-event="shadeClose"></div>
    </div>
    <script src="./layui/layui.js"></script>
    <script src="./layui/layui_cube.js"></script>
</body>
</html>