@page "/{area}/{modelName}"
@attribute [Authorize]
@using NewLife.CubeUI.Services

<h3 style="height: 54px;">List @Area  @ModelName</h3>

<div>
    <PageContainer Title="Table List">
        <ChildContent>
            <div class="standardList">

                <Card Class="listCard"
Title="基本列表"
Style="margin-top: 24px;"
BodyStyle="padding: 0 32px 40px 32px">
                    <Extra>
                        <Button Type="primary">
                            新建
                        </Button>
                    </Extra>
                    <ChildContent>
                        <_List_Data Area="@Area" ModelName="@ModelName"></_List_Data>
                    </ChildContent>
                </Card>
            </div>
        </ChildContent>
    </PageContainer>
</div>

@code
{
    [Parameter]
    public string Area { get; set; }

    [Parameter]
    public string ModelName { get; set; }

    [Inject] protected IProjectService ProjectService { get; set; }

    protected override Task OnInitializedAsync()
    {
        Console.WriteLine(nameof(OnInitializedAsync));
        return base.OnInitializedAsync();
    }
}
