# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
.comate
.lingma

**/.vs
# 忽略所有 bin 文件夹
**/bin/
# 忽略所有 obj 文件夹
**/obj/
# 忽略所有 .vs 文件夹
**/.vs/
# 忽略所有 .vscode 文件夹
**/.vscode/
NEXT.md
.playwright-mcp/
