@{
    Layout = null;

    var User = ViewBag.User;
    var cfg = NewLife.Common.SysConfig.Current;

    var title = ViewBag.Title + "";
    if (title != "" && !title.EndsWith(" - ")) { title += " - "; }
    title += cfg.DisplayName;
}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title>@title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <!-- bootstrap & fontawesome -->
    <link href="~/Templates/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Templates/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Templates/css/animate.css" rel="stylesheet" />
    <link href="~/Templates/css/style.css" rel="stylesheet" />
    <!-- 自定义样式 -->
    <link rel="stylesheet" href="~/Templates/Cube.css" type="text/css" />
    

</head>
<body>
    <div id="wrapper">
        <!-- navbar -->
        <nav class="navbar-default navbar-static-side" role="navigation">
            @Html.Partial("_Left")
        </nav>

        <!-- page-wrapper -->
        <div id="page-wrapper" class="gray-bg">
            <!-- navbar-header -->
            <div class="row border-bottom">
                @Html.Partial("_Navbar")
            </div>

            <!-- -->
            <div class="wrapper wrapper-content">
                <iframe style="width: 100%; height: 100%; margin: 0; padding: 0; border: none;" id="main" name="main" src="@ViewBag.Main"></iframe>
            </div>
        </div>

    </div>

    <!-- Mainly scripts -->
    <!-- JQuery作为一等公民，页面内部随时可能使用 -->
    <script src="~/Templates/js/jquery-3.1.1.min.js"></script>
    <script src="~/Templates/js/bootstrap.min.js"></script>
    <script src="~/Templates/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/Templates/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="~/Templates/js/inspinia.js"></script>
    <script src="~/Templates/js/plugins/pace/pace.min.js"></script>

    <script type="text/javascript">
        $(function () {
            var $frmContent = $('#main');
            function fixFrmContentSize() {
                var offset = $frmContent.offset();
                var top = offset.top;
                var height = document.documentElement.clientHeight;
                $frmContent.height(height - top - 10);
            }
            fixFrmContentSize();
            $(window).resize(fixFrmContentSize);

            //增加iframe被嵌套的检测2015-6-4 景裔增加
            if (window != top) {
                top.location.href = location.href;
            }
        });

    </script>
</body>
</html>