################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
/packages
/Data
/Log
/Backup
/Avatars
/BinTest
*.user
/NewLife.Cube/Config
/NewLife.Cube/Plugins
/NewLife.CubeNC/Properties/launchSettings.json
/CubeDemo/Entity
/NewLife.Cube/Entity
/CubeDemoNC/wwwroot/Content
/NewLife.CubeBlazor
/NewLife.CubeBlazor1
/NewLife.Cube.VueUI/node_modules
/NewLife.Cube.VueUI
*.pubxml
/.vscode
/CubeDemo/Config
/XTemp
/CubeDemoNC/Areas/School/Models/Config
/CubeDemoNC/Areas/School/Models/Log
/CubeDemoNC/publish
/NewLife.CubeUI/node_modules
/WebApplication1
/WebApplication2
/WebApplication3
/WebApplication4
/WebApplication5
/BinSSO
/workspace.code-workspace
