@using NewLife.Web;
@using XCode;
@{
    Layout = NewLife.Cube.Setting.Current.Layout;

    var fact = ViewBag.Factory as IEntityOperate;
    var page = ViewBag.Page as Pager;
}

<div class="clearfix">
    @Html.PartialAsync("_List_Toolbar").Result
</div>
<div class="table-responsive">
    @Html.PartialAsync("_List_Data").Result
</div>
<div class="panel-footer">
    @Html.PartialAsync("_List_Pager").Result
</div>