@*
    表单头
*@

@using XCode.Configuration;
@using XCode.Membership;
@using XCode;

@{
    var entity = Model as IEntity;
    var isNew = entity.IsNullKey;
}

<div class="card-header">
    <div class="card-title">
        <h4>&nbsp;</h4>
    </div>

    <div class="card-toolbar">
        <button type="submit" class="btn btn-sm btn-outline btn-outline-primary align-self-center me-3">
            <i class="fas fa-@(isNew ? "plus" : "save")" style="margin-top: -1px;"></i>
            <span class="kt-hidden-mobile">@(isNew ? "保 存" : "更 新")</span>
        </button>
        <a href="@Url.Action("Index")" class="btn btn-sm btn-outline btn-outline-dashed btn-outline-default">
            <i class="fas fa-reply"></i>
            <span class="kt-hidden-mobile">返 回</span>
        </a>
    </div>
</div>