@using NewLife;
@using NewLife.Web;
@using XCode;
@using System.Linq;
@{
    var page = ViewBag.Page as Pager;

    var dic = new Dictionary<Int32, String>();
    dic.Add(1, "启用");
    dic.Add(0, "禁用");
}
<div class="d-flex align-items-center mx-3">
    <span class="text-nowrap">状态</span>
    @await Html.PartialAsync("_Form_Type_DropDownList", new ListBoxModel("enable", dic,  page["enable"], "全部", true, null))
</div>
