@using NewLife.Cube.Extensions
@{
    var set = ViewBag.PageSetting as PageSetting ?? PageSetting.Global;
}
<div class="d-inline-flex input-group w-lg-150px">
    @if (set.EnableKey)
    {
        <input name="q" type="search" id="q" value="@Context.Request.GetRequestValue("q")" class="form-control form-control-sm" placeholder="搜索关键字" />
    }
</div>

@*<!--begin::Search-->
<div class="position-relative my-1">
    <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
    <span class="svg-icon svg-icon-3 svg-icon-gray-500 position-absolute top-50 translate-middle ps-10">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="black" />
            <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="black" />
        </svg>
    </span>
    <!--end::Svg Icon-->
    <input type="text" class="form-control form-control-sm form-control-solid w-150px ps-10" name="Search Team" value="" placeholder="Search Team" />
</div>
<!--end::Search-->*@