@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--begin::Dashboard-->
<div class="d-flex align-items-center ms-1 ms-lg-3">
    <!--begin::Drawer toggle-->
    <div class="btn btn-icon btn-active-light-primary w-30px h-30px w-md-40px h-md-40px" data-bs-toggle="tooltip" title="仪表盘" id="kt_activities_toggle">
        <!--begin::Svg Icon | path: icons/duotune/general/gen032.svg-->
        <span class="svg-icon svg-icon-muted svg-icon-2hx">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M7 21H3C2.4 21 2 20.6 2 20V4C2 3.4 2.4 3 3 3H7C7.6 3 8 3.4 8 4V20C8 20.6 7.6 21 7 21Z" fill="black" />
                <path opacity="0.3" d="M21 11H11C10.4 11 10 10.6 10 10V4C10 3.4 10.4 3 11 3H21C21.6 3 22 3.4 22 4V10C22 10.6 21.6 11 21 11ZM22 20V14C22 13.4 21.6 13 21 13H11C10.4 13 10 13.4 10 14V20C10 20.6 10.4 21 11 21H21C21.6 21 22 20.6 22 20Z" fill="black" />
            </svg>
        </span>
        <!--end::Svg Icon-->
    </div>
    <!--end::Drawer toggle-->
</div>
<!--end::Dashboard-->
