@*@using NewLife.Common;
@using XCode.Membership;
@{
    var user = ManageProvider.User as IUser ?? User.Identity as IUser;
}*@

<!-- 菜单 Footer -->
<div class="app-sidebar-footer flex-column-auto pt-2 pb-6 px-6" id="kt_app_sidebar_footer">
    @*@await Html.PartialAsync("_Layout_Aside_Footer_LoginUser");*@
</div>
