@*内容底部*@

@using NewLife.Cube.WebMiddleware;

@{
    var set = NewLife.Cube.Setting.Current;
    var runInfo = !set.ShowRunTime ? "" : RunTimeMiddleware.GetInfo(this.Context);

}

@if (set.ShowRunTime)
{
    <div class="footer py-4 d-flex flex-lg-column mt-10 mb-10" id="kt_footer">
        <div class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between">
            <div class="text-gray-400 order-2 order-md-1">
                @Html.Raw(runInfo)
            </div>
        </div>
    </div>
}