@*
    系统抽屉—系统日志界面。在系统中可以使用以下代码激活并显示该抽屉界面，View为抽屉内容页。
<button class="btn btn-primary me-3" data-kt-drawer-show="true" data-kt-drawer-target="#cube_drawer_log">系统日志</button>
*@
@{
}
<div id="cube_drawer_log" class="bg-white" data-kt-drawer="true" data-kt-drawer-name="cube_log" data-kt-drawer-activate="true" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'300px', 'md': '500px'}" data-kt-drawer-direction="end" data-kt-drawer-close="#cube_drawer_log_close">
    @await Html.PartialAsync("_Layout_Drawer_Log_View")
</div>


