@*@using NewLife.Common;
@using XCode.Membership;
@{
    var user = ManageProvider.User as IUser ?? User.Identity as IUser;
}*@

<!-- 菜单 Footer -->
<div class="aside-footer d-flex flex-column align-items-center flex-column-auto" id="kt_aside_footer">
    @*@await Html.PartialAsync("_Layout_Aside_Footer_LoginUser");*@
</div>
