@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--begin::Dashboard-->
<div class="d-flex align-items-center ms-1 ms-lg-3">
    <!--begin::Drawer toggle-->
    <div class="btn btn-icon btn-active-light-primary w-30px h-30px w-md-40px h-md-40px" data-bs-toggle="tooltip" title="仪表盘" id="kt_activities_toggle">
        <!--begin::Svg Icon | path: icons/duotune/general/gen032.svg-->
        <span class="svg-icon svg-icon-1">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="8" y="9" width="3" height="10" rx="1.5" fill="currentColor"></rect>
                <rect opacity="0.5" x="13" y="5" width="3" height="14" rx="1.5" fill="currentColor"></rect>
                <rect x="18" y="11" width="3" height="8" rx="1.5" fill="currentColor"></rect>
                <rect x="3" y="13" width="3" height="6" rx="1.5" fill="currentColor"></rect>
            </svg>
        </span>
        <!--end::Svg Icon-->
    </div>
    <!--end::Drawer toggle-->
</div>
<!--end::Dashboard-->
