@*
    集合列表
*@
@using NewLife;
@using NewLife.Web;
@using XCode;
@{
    var set = ViewBag.PageSetting as PageSetting;
}

<!-- 列表顶部仪表盘或导航栏，根据实际应用选择是否放置 -->
@await Html.PartialAsync("_List_Dashboard")

<!--列表集合表头-->
@await Html.PartialAsync("_List_Toolbar")

<div class="tab-content">
    <div id="kt_table_pane" class="tab-pane fade show active">
        @await Html.PartialAsync("_List_Data")
    </div>
    <div id="kt_card_pane" class="tab-pane fade">

    </div>
</div>

<!--列表分页-->
@await Html.PartialAsync("_List_Pager")
<!--列表页脚-->
@await Html.PartialAsync("_List_Footer")


@section scripts{
    <script>
        $(function () {
            var $toolbarContext = $('.toolbar-batch'),
                $batchButtons = $('button[data-action="action"], input[data-action="action"]'), //button, input=button, a 3种类型都可以
                $table = $('.table'),
                $keys = $('input[name="keys"]', $table);

            $table.on('click', '#chkAll', function () {
                // 全选
                $keys.prop('checked', this.checked);
                // 启用禁用批量操作区
                $batchButtons.prop('disabled', !this.checked);
            });

            $table.on('click.checked', 'tbody input[name="keys"]', function (e) {
                //页面中所有的checkbox
                var allbox = $table.find('tbody :checkbox[name="keys"]');
                //页面中所选中的checkbox
                var selecteds = $table.find('tbody :checkbox:checked[name="keys"]');
                if (selecteds.length > 0) {
                    // 启用禁用批量操作区
                    $batchButtons.prop('disabled', false);
                    //需要判断当前页面所有行的checkbox是否都选中，以此来决定是否需要改变checkbox#chkAll 的状态
                    if (allbox.length == selecteds.length) {
                        $table.find('#chkAll').prop('checked', true);
                    } else {
                        $table.find('#chkAll').prop('checked', false);
                    }
                }
                else {
                    $batchButtons.prop('disabled', true);
                    $table.find('#chkAll').prop('checked', false);
                }
            });
        })
    </script>
}