html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.logo {
    height: 60px;
    font-size: 30px;
    text-align: center;
}

#app,
.el-container {
    height: 100%;
}

.el-header {
    padding: 0px 20px 0px 0px;
    border-bottom: 1px solid #DCDFE6;
    line-height: 60px;
    -moz-box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
    -webkit-box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
    box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
}

.el-menu {
    border: 0px;
    overflow: hidden;
}

.el-main {
    padding: 0px;
}

.el-menu-vertical-demo {
    overflow: scroll;
    /* -moz-box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
            -webkit-box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
            box-shadow: 2px 0 6px rgba(0, 21, 41, .35); */
}

    .el-menu-vertical-demo:not(.el-menu--collapse) {
        width: 230px;
        height: 100%;
    }

#app {
    padding: 20px;
}

.breadcrumb {
    padding: 20px 0px;
}

.form-inline {
    padding-top: 20px;
}

.button-group {
    padding: 15px 0px;
}

.collapse {
    height: 60px;
    width: 60px;
    font-size: 20px;
}

.el-dropdown-link {
    cursor: pointer;
}

.el-tabs {
    height: 100%;
}

.el-tabs--border-card {
    border: 0px;
}

    .el-tabs--border-card > .el-tabs__content {
        padding: 0px;
        height: calc(100% - 39px);
    }

.el-tab-pane {
    height: 100%;
}

.iframe {
    width: 100%;
    height: 100%;
}
