@model NewLife.Cube.Charts.ECharts
@using NewLife;
@using NewLife.Web;
@using NewLife.Cube;
@using XCode;
@{
    var chart = Model;
    var name = chart.Name;
    var chartName = "chart_" + name;
    var optionName = "option_" + name;
    var setOption = "chart_{0}.setOption(option_{0})".F(name);

    var style = "";
    if (chart.Width > 0)
    {
        style += "width: {0}px;".F(chart.Width);
    }
    else if (chart.Width < 0)
    {
        style += "width: {0}%;".F(-chart.Width);
    }

    if (chart.Height > 0)
    {
        style += "height: {0}px;".F(chart.Height);
    }
    else if (chart.Height < 0)
    {
        style += "height: {0}%;".F(-chart.Height);
    }

}
<div id="@name" style="@style"></div>
<script type="text/javascript">
    var @chartName = echarts.init(document.getElementById('@name'));

    var @optionName = @Html.Raw(chart.Build());

    @setOption;
</script>