@{
    var set = NewLife.Cube.Setting.Current;
}
<footer>
    <div style="margin-top:20px;" class="text-center">
        @if (!set.Copyright.IsNullOrEmpty())
        {
            <span>@set.Copyright</span>
        }
        @if (!set.Registration.IsNullOrEmpty())
        {
            <a href="http://www.beian.miit.gov.cn" target="_blank">@set.Registration</a>
        }
    </div>
</footer>