@model PrincipalAgent
@using NewLife.Cube.Entity;
@using NewLife;
@using NewLife.Web;
@using XCode;
@using XCode.Configuration;
@using XCode.Membership;
@using NewLife.Cube;
@{
    var entity = Model;
    var fields = ViewBag.Fields as IList<FieldItem>;
    var isNew = (entity as IEntity).IsNullKey;

    var set = NewLife.Cube.Setting.Current;
    var cls = set.FormGroupClass;
    if (cls.IsNullOrEmpty()) { cls = "form-group col-xs-12 col-sm-6 col-lg-4"; }
}
@foreach (var item in fields)
{
    if (!item.IsIdentity)
    {
        if (item.Name == "PrincipalName")
        {
            <div class="@cls">
                <label class="control-label col-xs-3 col-sm-3">委托人</label>
                <div class="input-group col-xs-9 col-sm-5">
                    @await Html.PartialAsync("_SelectUser", "PrincipalId")
                </div>
                <span class="hidden-xs col-sm-4">把自己的身份权限委托给别人</span>
            </div>
        }
        else if (item.Name == "AgentName")
        {
            <div class="@cls">
                <label class="control-label col-xs-3 col-sm-3">代理人</label>
                <div class="input-group col-xs-9 col-sm-5">
                    @await Html.PartialAsync("_SelectUser", "AgentId")
                </div>
                <span class="hidden-xs col-sm-4">代理获得别人身份权限</span>
            </div>
        }
        else
        {
            @await Html.PartialAsync("_Form_Group", new ValueTuple<IEntity, FieldItem>(entity, item))
        }
    }
}
@await Html.PartialAsync("_Form_Footer", entity)
@await Html.PartialAsync("_Form_Action", entity)