@using NewLife.Web;
@using XCode;
@using NewLife.Cube.Charts;
@{
    //Layout = NewLife.Cube.Setting.Current.Layout;

    var fact = ViewBag.Factory as IEntityFactory;
    var page = ViewBag.Page as Pager;
    var set = ViewBag.PageSetting as PageSetting;

    var charts = ViewBag.Charts as ECharts[];
    var charts2 = ViewBag.Charts2 as ECharts[];
}

@if (set.EnableToolbar)
{
    <div class="row">
        @await Html.PartialAsync("_List_Toolbar")
    </div>
}
@if (charts != null && charts.Length > 0)
{
    <div class="row">
        @foreach (var item in charts)
        {
            @await Html.PartialAsync("_ECharts", item)
        }
    </div>
}
<div class="row">
    @await Html.PartialAsync("_List_Data")
</div>
<div class="panel-footer">
    @await Html.PartialAsync("_List_Pager")
</div>
@if (charts2 != null && charts2.Length > 0)
{
    <div class="clearfix">
        @foreach (var item in charts2)
        {
            @await Html.PartialAsync("_ECharts", item)
        }
    </div>
}