@using NewLife;
@using XCode;
@using XCode.Configuration;
@{
    var pair = (ValueTuple<IEntity, DataField>)Model;
    var entity = pair.Item1;
    var field = pair.Item2;

    var set = NewLife.Cube.Setting.Current;
    var cls = set.FormGroupClass;
    if (cls.IsNullOrEmpty()) { cls = "form-group row col-xs-12 col-sm-6 col-lg-6"; }
}
@if (field.IsBigText())
{
    var isRow = cls.Contains("row") ? "row" : "";
    <div class="form-group @(isRow) col-xs-12 col-sm-11">
        @await Html.PartialAsync("_Form_BigText", (Object)Model)
    </div>
}
else
{
    <div class="@cls">
        @await Html.PartialAsync("_Form_Item", (Object)Model)
    </div>
}