@using NewLife;
@using NewLife.Web;
@using XCode;
@using System.Linq;
@{
    var page = ViewBag.Page as Pager;

    var dic = new Dictionary<Int32, String>();
    dic.Add(1, "启用");
    dic.Add(0, "禁用");
}
<div class="d-inline-flex align-items-center flex-shrink-0">
    <label for="enable" class="control-label mb-0">状态：</label>
    @Html.ForDropDownList("enable", dic, page["enable"], "全部", true)
</div>
