@using NewLife.Web;
@using XCode;
@{
    //Layout = NewLife.Cube.Setting.Current.Layout;

    var fact = ViewBag.Factory as IEntityFactory;
    var page = ViewBag.Page as Pager;
    var set = ViewBag.PageSetting as PageSetting ?? PageSetting.Global;
}

<div class="card card-custom gutter-b">
    @if (set.EnableToolbar)
    {
        <div class="card-header flex-wrap pb-0">
            @await Html.PartialAsync("_List_Toolbar")
        </div>
    }
    <div class="card-body pt-5">
        <div class="table-responsive">
            @await Html.PartialAsync("_ListTree_Data")
        </div>
        <div class="panel-footer">
            @await Html.PartialAsync("_List_Pager")
        </div>
    </div>
</div>