@using NewLife.Common;
@using NewLife.Cube.WebMiddleware
@{
    var set = NewLife.Cube.CubeSetting.Current;
    var runInfo = !set.ShowRunTime ? "" : RunTimeMiddleware.GetInfo(this.Context);
}
@if (set.ShowRunTime)
{
    <div class="panel-footer">
        @Html.Raw(runInfo)
    </div>
}