<div class="layui-btn-container layui-icon-align-center" style="text-align:center;">
    @Html.ActionLink("基本信息", "Info", "User", null, new { @class = "layui-btn" })
    @Html.ActionLink("修改密码", "ChangePassword", "User", null, new { @class = "layui-btn" })
    @Html.ActionLink("第三方授权", "Binds", "User", null, new { @class = "layui-btn" })
</div>