@using NewLife.Cube.Extensions
@{
    var fact = ViewBag.Factory as IEntityFactory;
    var page = ViewBag.Page as Pager;
}
<div class="form-group">
    @Html.ActionLink("访问统计", "Index", "VisitStat", null, new { @class = "btn btn-success btn-sm" })
    <label for="category" class="control-label">类别：</label>
    @Html.ForDropDownList("category", Log.FindAllCategoryName(), page["category"], "全部", true)
</div>
@await Html.PartialAsync("_SelectUser", "userId")
@await Html.PartialAsync("_DateRange")