@using NewLife;
@using NewLife.Web;
@using NewLife.Cube;
@using XCode;
@{
    var fact = ViewBag.Factory as IEntityFactory;
    var p = ViewBag.Page as Pager;
}
<a href="/Admin/Area/Map" target="_blank">地图</a> &nbsp;
@Html.ActionLink("所有省份", "Index", new { ParentID = 0 })
@await Html.PartialAsync("_Area3", "")
<div class="form-group">
    <label for="idStart" class="control-label">编码范围：</label>
    <div class="input-group">
        <input name="idStart" id="idStart" type="text" value="@p["idStart"]" class="form-control" style="width: 60px;" />
    </div>
</div>
<div class="form-group">
    <label for="idEnd" class="control-label">至</label>
    <div class="input-group">
        <input name="idEnd" id="idEnd" type="text" value="@p["idEnd"]" class="form-control" style="width: 60px;" />
    </div>
</div>
@await Html.PartialAsync("_Enable")