@using NewLife.Common;
@{
    var user = ViewBag.User as IUser ?? User.Identity as IUser;
    var fact = ViewBag.Factory as IEntityFactory;
        var set = ViewBag.PageSetting as PageSetting ?? PageSetting.Global;
}
@if (set.EnableSelect)
{
    <button type="reset" class="btn btn-primary btn-sm ml-2 mr-2" data-action="action" data-url="@Url.Action("EnableSelect")" data-fields="keys" disabled>
        批量启用
    </button>
    <button type="reset" class="btn btn-primary btn-sm mr-2" data-action="action" data-url="@Url.Action("DisableSelect")" data-fields="keys" disabled>
        批量禁用
    </button>
}