@model LoginViewModel
@using NewLife.Common
@{
    var set = Model;
}

<div class="login-form login-signin">
    <!--begin::Form-->
    <form class="form" id="kt_login_signin_form" action="@Url.Action("Login", "User", new { r = set.ReturnUrl })" method="post" onsubmit="md5_salt($('#password'));">
        @Html.ValidationSummary()
        <!--begin::Title-->
        <div class="pb-13 pt-lg-0 pt-5">
            <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">@SysConfig.Current.DisplayName</h3>
            @if (set.AllowRegister)
            {
                <span class="text-muted font-weight-bold font-size-h4">
                    没有帐号?
                    <a href="javascript:;" id="kt_login_signup" class="text-primary font-weight-bolder">注册</a>
                </span>
            }
        </div>
        <!--begin::Title-->
        @if (set.AllowLogin)
        {
            <!--begin::Form group-->
            <div class="form-group">
                <label class="font-size-h6 font-weight-bolder text-dark">用户名</label>
                <input class="form-control form-control-solid h-auto py-6 px-6 rounded-lg" type="text" id="username" name="username" placeholder="用户名 / 邮箱 / 手机 / 编码" autocomplete="off" />
            </div>
            <!--end::Form group-->
            <!--begin::Form group-->
            <div class="form-group">
                <div class="d-flex justify-content-between mt-n5">
                    <label class="font-size-h6 font-weight-bolder text-dark pt-5">密码</label>
                    <a href="javascript:;" id="kt_login_forgot" class="text-primary font-size-h6 font-weight-bolder text-hover-primary pt-5">忘记密码 ?</a>
                </div>
                <input class="form-control form-control-solid h-auto py-6 px-6 rounded-lg" type="password" name="password" autocomplete="off" />
            </div>
            <!--end::Form group-->
            <!--begin::Action-->
            <div class="pb-lg-0 pb-5">
                <button type="submit" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">登录</button>
            </div>
            <!--end::Action-->
        }
    </form>
    <!--end::Form-->
</div>