@model LoginViewModel
@using NewLife.Common
@{
    var set = Model;
}

<div class="login-form login-forgot">
    <!--begin::Form-->
    <form class="form" action="@Url.Action("ForgetPassword", "User", new { r = set.ReturnUrl })" method="post" id="kt_login_forgot_form">
        @Html.ValidationSummary()
        <!--begin::Title-->
        <div class="pb-13 pt-lg-0 pt-5">
            <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">忘记密码？</h3>
            <p class="text-muted font-weight-bold font-size-h4">输入您的邮箱地址取回密码。</p>
        </div>
        <!--end::Title-->
        <!--begin::Form group-->
        <div class="form-group">
            <input type="email" class="form-control form-control-solid h-auto py-6 px-6 rounded-lg font-size-h6" id="email" name="email" placeholder="输入你的邮箱地址" autocomplete="off" />
        </div>
        <!--end::Form group-->

        <!--begin::Form group-->
        <div class="form-group d-flex flex-wrap pb-lg-0">
            <button type="submit" id="kt_login_forgot_submit" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4">发送</button>
            <button type="button" id="kt_login_forgot_cancel" class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3">回到登录</button>
        </div>
        <!--end::Form group-->
    </form>
        <!--end::Form-->
</div>