<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <base href="~/" />
    <link href="~/Content/css/bootstrap.blazor.bundle.min.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/css/site.css" rel="stylesheet">
</head>
<body>

    @RenderBody()

    <script src="~/_framework/blazor.server.js"></script>
    <script src="~/Content/js/bootstrap.blazor.bundle.min.js"></script>
</body>
</html>
