@page "/BlazorMain/"
@namespace NewLife.Cube.Blazor.Views.Blazor
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using NewLife.Cube.ViewModels;
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <base href="~/" />
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="_content/BootstrapBlazor/css/bootstrap.blazor.bundle.min.css" rel="stylesheet">
    <link href="_content/NewLife.Cube.Blazor/css/site.css" rel="stylesheet">
</head>
<body>

    <component type="typeof(MainLayout)" render-mode="ServerPrerendered" />

    <script src="~/_framework/blazor.server.js"></script>
    <script src="_content/BootstrapBlazor/js/bootstrap.blazor.bundle.min.js"></script>
</body>
</html>