@using NewLife; 
@using NewLife.Common;
@{
    Layout = null;
    var p = "/";
    p = p.EnsureEnd("/") + "Admin";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@SysConfig.Current.DisplayName</title>
    <meta http-equiv="refresh" content="0;url=@p">
</head>
<body>
    <div>
        <h1>@SysConfig.Current.DisplayName</h1>
        @SysConfig.Current.Company
    </div>
</body>
@await Html.PartialAsync("_Footer")
</html>