@import './index.scss';

/* 登录/注册页原生卡片响应式
------------------------------- */
@media screen and (max-width: $xs) {
	.login-container,
	.register-container {
		padding-left: 12px;
		padding-right: 12px;

		.login-card,
		.register-card {
			width: 100%;
		}
	}
}

@media screen and (max-width: $us) {
	.login-container,
	.register-container {
		padding-left: 8px;
		padding-right: 8px;
	}
}
