@using NewLife;
@using XCode;
@using XCode.Configuration;
@{ var entity = Model as IEntity;
    var fields = ViewBag.Fields as FieldCollection; }
<div class="layui-form-item">
    @foreach (var item in fields)
    {
        if (!item.IsIdentity)
        {
@await Html.PartialAsync("_Form_Group", new ValueTuple<IEntity, FieldItem>(entity, item))}
}
    <div class="button-container">
        <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit="" lay-filter="user-save">
            <i class="layui-icon layui-icon-ok"></i>
            保存
        </button>
    </div>
</div>

