@using NewLife.Common;
@{ var title = ViewBag.Title + "";
    if (title != "" && !title.Contains(" - "))
    {
        title += " - " + NewLife.Common.SysConfig.Current.DisplayName;
    }

    var set = NewLife.Cube.Setting.Current;
    var res = set.ResourceUrl;
    if (String.IsNullOrEmpty(res)) res = "/Content";
    res = res.TrimEnd('/'); 
 }
<!DOCTYPE html>
<html>
<head>

    <title>@title</title>
    <link rel="stylesheet" href="@res/PearAdminLayui/component/pear/css/pear.css" asp-append-version="true" />
    <link rel="stylesheet" href="@res/PearAdminLayui/component/pear/module/soultable/soulTable.css" asp-append-version="true" />
    <link rel="stylesheet" href="@res/PearAdminLayui/component/pear/module/sweetalert/sweetalert2.css" asp-append-version="true" />
    <link rel="stylesheet" href="@res/PearAdminLayui/admin/css/self/layui_extend.css" asp-append-version="true" />
    @RenderSection("css", required: false)

    <script src="@res/PearAdminLayui/component/layui/layui.js" asp-append-version="true"></script>
    <script src="@res/PearAdminLayui/component/pear/pear.js" asp-append-version="true"></script>
    @RenderSection("javascript", false)
</head>
<body class="pear-container">
    @RenderBody()
</body>
</html>