<!-- 侧 边 区 域 -->
<div class="layui-side layui-bg-black">
    <!-- 菜 单 顶 部 -->
    <div class="layui-logo">
        <!-- 图 标 -->
        <img class="logo"></img>
        <!-- 标 题 -->
        <span class="title"></span>
    </div>
    <!-- 菜 单 内 容 -->
    <div class="layui-side-scroll">
        <div id="sideMenu"></div>
    </div>
</div>