@inherits LayoutComponentBase

<Router AppAssembly="@this.GetType().Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
    </Found>
    <NotFound>
        <p>Sorry, there's nothing at this address.</p>
    </NotFound>
</Router>

<Toast />
<Dialog />
<PopoverConfirm />
<Message />
<SweetAlert />
