<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="5.2.6" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc.zh-Hans" version="5.2.6" targetFramework="net45" />
  <package id="Microsoft.AspNet.OData" version="7.0.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.6" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor.zh-Hans" version="3.2.6" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.6" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.6" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.zh-Hans" version="3.2.6" targetFramework="net45" />
  <package id="Microsoft.Extensions.DependencyInjection" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.OData.Core" version="7.5.0" targetFramework="net45" />
  <package id="Microsoft.OData.Edm" version="7.5.0" targetFramework="net45" />
  <package id="Microsoft.Spatial" version="7.5.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="NewLife.Core" version="7.4.6881.41311" targetFramework="net45" />
  <package id="NewLife.XCode" version="9.9.6881.41312" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="System.Collections" version="4.0.11" targetFramework="net45" />
  <package id="System.Collections.Concurrent" version="4.0.12" targetFramework="net45" />
  <package id="System.ComponentModel" version="4.0.1" targetFramework="net45" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net45" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net45" />
  <package id="System.Linq" version="4.1.0" targetFramework="net45" />
  <package id="System.Linq.Expressions" version="4.1.0" targetFramework="net45" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net45" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net45" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net45" />
  <package id="System.Threading" version="4.0.11" targetFramework="net45" />
  <package id="System.Threading.Tasks" version="4.0.11" targetFramework="net45" />
</packages>