@using NewLife;
@using NewLife.Web;
@using XCode;
@{
    var fact = ViewBag.Factory as IEntityFactory;
    var page = ViewBag.Page as Pager;
}
@Html.ActionLink("用户在线","Index","UserOnline",null,new{target="_blank"}) &nbsp;
@Html.ActionLink("用户统计","Index","UserStat",null,new{target="_blank"}) &nbsp;
<div class="form-group">
    <label for="roleIds" class="control-label">角色：</label>
    @await Html.PartialAsync("_Form_ListBox", new ListBoxModel("roleIds", Role.FindAllWithCache().OrderByDescending(e => e.Sort).ToList(), page["roleIds"]))
</div>
@await Html.PartialAsync("_Enable")
@await Html.PartialAsync("_SelectDepartment", "departmentId")
@await Html.PartialAsync("_Area2", "")
