@using NewLife;
@using NewLife.Web;
@using XCode;
@{
    var fact = ViewBag.Factory as IEntityFactory;
    var page = ViewBag.Page as Pager;
}
<div class="form-group">
    <label for="roleId" class="control-label">角色：</label>
    @*@Html.ForDropDownList("roleId", Role.FindAllWithCache(), page["roleId"], "全部", true)*@
    @*@Html.ForListBox("roleIds", Role.FindAllWithCache(), page["roleIds"])*@
    @await Html.PartialAsync("_Form_ListBox", new ListBoxModel("roleIds", Role.FindAllWithCache(), page["roleIds"]))
</div>
@await Html.PartialAsync("_Enable")
@await Html.PartialAsync("_SelectDepartment", "departmentId")
@*@await Html.PartialAsync("_DateRange")*@