<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.Mvc.zh-Hans" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor.zh-Hans" version="3.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages.zh-Hans" version="3.2.6" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="NewLife.Core" version="7.3.6870.42457" targetFramework="net461" />
  <package id="NewLife.Cube" version="2.4.6871.461" targetFramework="net461" />
  <package id="NewLife.XCode" version="9.9.6870.42458" targetFramework="net461" />
</packages>