@{
    Layout = null;

    var user = ViewBag.User as IUser ?? User.Identity as IUser;
    var roleNames = "";
    if (user != null) roleNames = user.Roles == null ? "" : user.Roles.Join();

    var cfg = ViewBag.Config as NewLife.Common.SysConfig;

    var title = ViewBag.Title + "";
    if (title != "" && !title.EndsWith(" - ")) { title += " - "; }
    title += cfg.DisplayName;

    var set = NewLife.Cube.Setting.Current;
    var res = set.ResourceUrl;
    if (String.IsNullOrEmpty(res)) res = "/Content";
    res = res.TrimEnd('/');

    var name = cfg == null ? "" : cfg.DisplayName;

    var set2 = ViewBag.PageSetting as PageSetting;

    var menu = ViewBag.Menu as IMenu;
    if (menu == null) menu = Context.Items["CurrentMenu"] as IMenu;
}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title>@title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <!-- 页面内联样式 -->
    @RenderSection("css", required: false)

    <link rel="stylesheet" href="@res/adminlte/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="@res/adminlte/css/adminlte.min.css" />
</head>
<body class="hold-transition sidebar-mini">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        @if (set2 != null && set2.EnableNavbar)
        {
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>@menu.DisplayName</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                @await Html.PartialAsync("_Layout_Nav")
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>
        }

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                @RenderBody()
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    @if (set.ShowRunTime)
    {
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 3.1.0
            </div>
            <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
        </footer>
    }

    <!-- jQuery -->
    <script src="@res/js/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="@res/adminlte/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE -->
    <script src="@res/adminlte/js/adminlte.min.js"></script>
</body>
</html>