<div class="text-center col-md-12" style="margin-bottom: 10px">
    @Html.ActionLink("基本信息", "Info", "User", null, new { @class = "btn btn-success btn-sm" })
    @Html.ActionLink("修改密码", "ChangePassword", "User", null, new { @class = "btn btn-success btn-sm" })
    @Html.ActionLink("第三方授权", "Binds", "User", null, new { @class = "btn btn-success btn-sm" })
</div>