@*
    列表视图工具栏
*@
@using NewLife;
@using NewLife.Cube
@using NewLife.Cube.Entity
@using NewLife.Web;
@using XCode;
@using NewLife.Cube.Extensions
@using XCode.Membership

@{
    var fact = ViewBag.Factory as IEntityFactory;
    var page = ViewBag.Page as Pager;

    var act = Context.Request.Path + "";
    if (act.IsNullOrEmpty())
    {
        act = Url.Action("Index");
    }

    var set = ViewBag.PageSetting as PageSetting;
    var stat = UserStat.FindByDate(DateTime.Today);
}

<!--begin::Toolbar 如果列表视图工具栏上方有仪表盘,设置pt-3 -->
<div class="d-flex flex-wrap flex-stack pt-0 pb-1">
    <!--begin::列表统计-->
    <div class="d-flex align-items-center justify-content-start">
        <div>
            <div class="d-flex align-items-center">
                <span class="fs-2x fw-bolder text-gray-600 me-2">@(page != null ? page.TotalCount.ToString("n0") : 0)</span>
            </div>
            <span class="fs-7 fw-bold text-gray-400">当前用户总数</span>
        </div>
        <div class="bullet bg-secondary h-35px w-1px mx-3"></div>

        <div class="me-2">
            <div class="d-flex align-items-center">
                <span class="fs-2x fw-bolder text-gray-600 me-2">@(stat != null ? stat.Actives.ToString("n0") : 0)</span>
            </div>
            <span class="fs-7 fw-bold text-gray-400">当前在线数</span>
        </div>
        <a href="~/Admin/UserOnline" class="btn btn-sm btn-light-primary btn-active-primary me-3"><span class="fas fa-user-check me-1"></span>用户在线</a>
        <div class="bullet bg-secondary h-35px w-1px mx-3"></div>

        <div class="me-2">
            <div class="d-flex align-items-center">
                <span class="fs-2x fw-bolder text-gray-600 me-2">@(stat != null ? stat.ActivesT30.ToString("n0") : 0)</span>
            </div>
            <span class="fs-7 fw-bold text-gray-400">最近30天活跃数</span>
        </div>
        <a href="~/Admin/UserStat" class="btn btn-sm btn-light-primary btn-active-primary">用户统计</a>
        <div class="bullet bg-secondary h-35px w-1px mx-3"></div>
    </div>
    <!--end::列表统计-->

    <!--begin::Controls-->
    <div class="d-flex">
        <!-- 新增按钮 -->
        @if (page != null)
        {
            var rv = page.GetRouteValue();
            if (set.EnableAdd && !set.IsReadOnly && this.Has(PermissionFlags.Insert))
            {
                <a href="@Url.Action("Add", rv)" class="btn btn-sm btn-icon btn-light-success btn-active-success w-70px" title="新增对象" data-bs-toggle="tooltip" data-bs-placement="top"><i class="fas fa-plus me-3"></i>新增</a>
                <!-- 分隔条 -->
                <div class="bullet bg-secondary h-35px w-1px mx-3"></div>
            }
        }

        <!-- 批量操作 -->
        @await Html.PartialAsync("_List_Toolbar_Batch")

        <!-- 自定义工具按钮 -->
        @await Html.PartialAsync("_List_Toolbar_Custom")

        <!--begin::列表模式-->
        <ul class="nav nav-pills me-3">
            <li class="nav-item m-0">
                <a class="btn btn-sm btn-icon btn-light btn-color-muted btn-active-primary me-3" data-bs-toggle="tab" href="#kt_card_pane">
                    <!--begin::Svg Icon | path: icons/duotune/general/gen024.svg-->
                    <span class="svg-icon svg-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="5" y="5" width="5" height="5" rx="1" fill="#000000" />
                                <rect x="14" y="5" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
                                <rect x="5" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
                                <rect x="14" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
                            </g>
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                </a>
            </li>
            <li class="nav-item m-0">
                <a class="btn btn-sm btn-icon btn-light btn-color-muted btn-active-primary active" data-bs-toggle="tab" href="#kt_table_pane">
                    <!--begin::Svg Icon | path: icons/duotune/abstract/abs015.svg-->
                    <span class="svg-icon svg-icon-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M21 7H3C2.4 7 2 6.6 2 6V4C2 3.4 2.4 3 3 3H21C21.6 3 22 3.4 22 4V6C22 6.6 21.6 7 21 7Z" fill="black" />
                            <path opacity="0.3" d="M21 14H3C2.4 14 2 13.6 2 13V11C2 10.4 2.4 10 3 10H21C21.6 10 22 10.4 22 11V13C22 13.6 21.6 14 21 14ZM22 20V18C22 17.4 21.6 17 21 17H3C2.4 17 2 17.4 2 18V20C2 20.6 2.4 21 3 21H21C21.6 21 22 20.6 22 20Z" fill="black" />
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                </a>
            </li>
        </ul>
        <!--end::列表模式-->

        <!--begin::Wrapper-->
        @await Html.PartialAsync("_List_Toolbar_Adv")
        <!--end::Wrapper-->
    </div>
    <!--end::Controls-->
</div>
<!--end::Toolbar-->