@using NewLife.Common;
@using NewLife.Cube
@using XCode

@*<button type="button" class="btn btn-purple btn-sm">
    <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
    自定义按钮
</button>*@

<a href="~/Admin/UserOnline" class="btn btn-sm btn-light-primary btn-active-primary me-3">用户在线</a>
<a href="~/Admin/UserStat" class="btn btn-sm btn-light-primary btn-active-primary">用户统计</a>
<!-- 分隔条 -->
<div class="bullet bg-secondary h-35px w-1px mx-3"></div>