@using NewLife.Common;
@using NewLife.Cube
@using XCode
@using XCode.Membership
@{
    var user = ViewBag.User as IUser ?? User.Identity as IUser;
    var fact = ViewBag.Factory as IEntityFactory;
    var set = ViewBag.PageSetting as PageSetting;
}
@if (set.EnableSelect)
{
    <button type="button" class="btn btn-sm btn-primary me-3" data-action="action" data-url="@Url.Action("EnableSelect")" data-fields="keys" disabled data-bs-toggle="tooltip" title="批量启用">
        启用
    </button>
    <button type="button" class="btn btn-sm btn-primary me-3" data-action="action" data-url="@Url.Action("DisableSelect")" data-fields="keys" disabled data-bs-toggle="tooltip" title="批量禁用">
        禁用
    </button>
}