<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="refresh" content="0;url=@NewLife.Cube.Setting.Current.StartPage">
</head>
<body>
    <div>

    </div>
</body>
</html>