@media(max-width: 768px) {
    body {
        padding-left: 0px;
        padding-right: 0px;
    }

    .page-content {
        padding: 0px;
    }

    /*.form-horizontal .control-label {*/
    /*float: left;*/
    /*font-size:12px;
        padding-left:8px;
        display:block;
    }*/

    /*.form-group {
        display: inline-block;
        margin-bottom: 10px;
        padding-left: 20px;
    }*/

    .form-inline .form-group {
        display: inline-block;
        vertical-align: middle;
    }

    .form-inline .control-label {
        margin-bottom: 0;
        vertical-align: middle;
    }

    /*.form-inline .input-group {
        display: inline-block;
        vertical-align: middle;
    }

    .form-inline .input-group-addon {
        display: inline-table;
        vertical-align: middle;
        float: left;
    }*/

    .form-inline .input-group-addon {
        width: 38px;
    }

    .form-inline .input-group {
        display: inline-table;
        vertical-align: middle;
    }
}

.list-toolbar .btn-sm-force, .btn-toolbar .btn-sm-force {
    height: 33px;
    line-height: 0;
    vertical-align: middle;
}

.list-toolbar .pull-right {
    float: none;
}

/*.list-toolbar .clear-fix {
    zoom: 1; 
    overflow:hidden; 
}*/

/*.form-group {
    height: 60px;
}*/
.input-group[class*=col-] {
    float: left;
}

.input-group > .btn-group > .btn {
    line-height: 20px;
}

@media(max-width:480px) {
    .form-horizontal .control-label {
        float: left;
        width: inherit;
        padding-top: 0;
        text-align: left
    }
}


/* 2019-03-15 表格禁止折行，避免拥挤 */
.table-responsive > .table > tbody > tr > td,
.table-responsive > .table > tbody > tr > th,
.table-responsive > .table > tfoot > tr > td,
.table-responsive > .table > tfoot > tr > th,
.table-responsive > .table > thead > tr > td,
.table-responsive > .table > thead > tr > th {
    white-space: nowrap
}

/* 表单标签/备注超长时省略号显示，避免撑爆布局 */
.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 修正表单横向布局被-15px整体左移的问题 */
.form-horizontal .form-group {
     margin-right: 0; 
     margin-left: 0; 
}