@using NewLife;
@using NewLife.Web;
@using XCode;
@using NewLife.Cube.Entity;
@{
    var fact = ViewBag.Factory as IEntityFactory;
    var page = ViewBag.Page as Pager;
}
<div class="form-group">
    <label for="provider" class="control-label">提供商：</label>
    @Html.ForDropDownList("provider", UserConnect.FindAllProviderName(), Request["provider"], "全部", true)
</div>
@*@Html.Partial("_DateRange")*@