@model NewLife.Cube.Charts.ECharts
@using NewLife;
@using NewLife.Web;
@using NewLife.Cube;
@using XCode;
@{
    var chart = Model;
    var name = chart.Name;
    var chartName = "chart_" + name;
    var optionName = "option_" + name;
    var setOption = $"chart_{name}.setOption(option_{name})";
}
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="@name" style="width: 600px;height:400px;"></div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var @chartName = echarts.init(document.getElementById('@name'));

    // 指定图表的配置项和数据
    var @optionName = @Html.Raw(chart.Build());

    // 使用刚指定的配置项和数据显示图表。
    @setOption;
</script>