@using NewLife;
@using XCode;
@using XCode.Configuration;
@{
    var set = NewLife.Cube.Setting.Current;
    var cls = set.FormGroupClass;
    if (cls.IsNullOrEmpty()) { cls = "form-group col-xs-12 col-sm-6 col-lg-4"; }
}
<div class="@cls">
    @await Html.PartialAsync("_Form_Item", (Object)Model)
</div>