@model EntityField
@using NewLife;
@using NewLife.Cube
@using XCode;
@using XCode.Configuration;
@{
    var entity = Model.Entity;
    var field = Model.Field;

    var value = entity[field.Name] as String;

    //var atts = HtmlHelper.AnonymousObjectToHtmlAttributes(Model.HtmlAttributes);
    //if (!atts.ContainsKey("class")) atts.Add("class", "form-control");

    var accept = "";
    if (field.ItemType.EqualIgnoreCase("image") || field.ItemType.StartsWithIgnoreCase("image-")) accept = "image/*";
}
@Html.TextBox(field.Name, entity[field.Name], new{@class="form-control"})
@Html.TextBox(field.Name+"_attachment", entity[field.Name], new { type = "file", accept })
@if (!value.IsNullOrEmpty())
{
    <a href="@value">
        <img src="@value" style="max-width: 200px; max-height: 200px" />
    </a>
}