@using System.Reflection
@using XCode
@using XCode.Configuration
@{
    Layout = NewLife.Cube.Setting.Current.Layout;

    var entity = Model as IEntity;
    var isNew = entity.IsNullKey;
    var fields = ViewBag.Fields as IList<FieldItem>;

    var url = "";
    var rv = entity.GetRouteKey();
    if (rv != null && rv.Count > 0)
        url = Url.Action(isNew ? "Add" : "Edit", rv);
    else
        url = Url.Action(isNew ? "Add" : "Edit");

    var enctype = "";
    if (fields.Any(e => e.Field.ItemType.EqualIgnoreCase("file", "image"))) enctype = "multipart/form-data";
}

<div class="form-horizontal">
    @await Html.PartialAsync("_Form_Header", entity)
    <form action="@url" enctype="@enctype" method="post">
        @*@Html.AntiForgeryToken()*@
        @*@Html.ValidationSummary()*@
        <ul>
            @foreach (var item in ViewData.ModelState.Values)
            {
                foreach (var error in item.Errors)
                {
                    <li>@error.Exception</li>
                }
            }
        </ul>
        @await Html.PartialAsync("_Form_Body", entity)
    </form>
</div>
