@using NewLife.Web;
@using XCode;
@{
    Layout = NewLife.Cube.Setting.Current.Layout;

    var fact = ViewBag.Factory as IEntityOperate;
    var page = ViewBag.Page as Pager;
}

<div class="clearfix">
    @await Html.PartialAsync("_List_Toolbar")
</div>
<div class="table-responsive">
    @await Html.PartialAsync("_List_Data")
</div>
<div class="panel-footer">
    @await Html.PartialAsync("_List_Pager")
</div>