@using NewLife.Web;
@using XCode;
@{
    var theme = NewLife.Cube.Setting.Current.Theme;
    if (String.IsNullOrEmpty(theme)) theme = "ACE";

    Layout = "~/Views/" + theme + "/_Layout.cshtml";

    var fact = ViewBag.Factory as IEntityFactory;
    var page = ViewBag.Page as Pager;
    var set = ViewBag.PageSetting as PageSetting ?? PageSetting.Global;
}

@if (set.EnableToolbar)
{
    <div class="clearfix">
        @await Html.PartialAsync("_List_Toolbar")
    </div>
}
<div class="table-responsive">
    @await Html.PartialAsync("_ListTree_Data")
</div>
<div class="panel-footer">
    @await Html.PartialAsync("_List_Pager")
</div>