@using NewLife.Web;
@using XCode;
@using NewLife.Cube.Charts;
@{
    Layout = NewLife.Cube.Setting.Current.Layout;

    var fact = ViewBag.Factory as IEntityOperate;
    var page = ViewBag.Page as Pager;

    var charts = ViewBag.Charts as ECharts[];
}

<div class="clearfix">
    @await Html.PartialAsync("_List_Toolbar")
</div>
@if (charts != null && charts.Length > 0)
{
    <div class="clearfix">
        @foreach (var item in charts)
        {
            @await Html.PartialAsync("_ECharts", item)
        }
    </div>
}
<div class="table-responsive">
    @await Html.PartialAsync("_List_Data")
</div>
<div class="panel-footer">
    @await Html.PartialAsync("_List_Pager")
</div>